<div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" nav-item">
            <a href="/Member/Dashboard/MemberDashboard/"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
        </li>
        <li class=" nav-item">
            <a href="/Member/Destination/Index/"><i class="la la-map-marker"></i><span class="menu-title" data-i18n="">Rotalar</span></a>
        </li>
        <li class=" nav-item">
            <a href="/Member/Profile/Index/"><i class="la la-user"></i><span class="menu-title" data-i18n="">Profilim</span></a>
        </li>
        <li class=" nav-item">
            <a href="/Member/Reservation/CreateReservation/"><i class="la la-calendar-check-o"></i><span class="menu-title" data-i18n="">Rezervasyon Yap</span></a>
        </li>
        <li class=" nav-item">
            <a href="/Member/Reservation/MyReservations/"><i class="la la-hotel"></i><span class="menu-title" data-i18n="">Rezervasyonlarım</span></a>
        </li>
        <li class=" nav-item">
            <a href="/Member/Reservation/ReservationHistory/"><i class="la la-calendar-o"></i><span class="menu-title" data-i18n="">Geçmiş Rezervasyon</span></a>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="la la-comments"></i><span class="menu-title" data-i18n="">Yorumlarım</span></a>
        </li>
        <li class=" nav-item">
            <a href="/Default/Index/"><i class="la la-mail-forward"></i><span class="menu-title" data-i18n="">Siteye Git</span></a>
        </li>
        <li class="nav-item">
            <a href="#"><i class="la la-power-off"></i><span class="menu-title" data-i18n="">Çıkış Yap</span></a>
        </li>
    </ul>

</div><a href="https://themeselection.com/products/chameleon-admin-modern-bootstrap-webapp-dashboard-html-template-ui-kit/" target="_blank">Download PRO!</a>
