@model DTOLayer.DTOs.FeatureDTOs.Create_Feature_DTO
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Yeni Öne Çıkan Oluştur</h5>
        </div>
        <div class="card-body">
            <form method="post">

                <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Başlık</label>
                    <input type="text" class="form-control" id="basic-default-fullname" placeholder="Başlık Giriniz" asp-for="Title" />
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Açıklama</label>
                    <input type="text" class="form-control" id="basic-default-fullname" placeholder="Açıklama" asp-for="Description" />
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Görsel</label>
                    <input type="text" class="form-control" id="basic-default-fullname" placeholder="Görsel" asp-for="Image" />
                    <span class="text-danger" asp-validation-for="Image"></span>
                </div>

                <button type="submit" class="btn rounded-pill btn-primary">Oluştur</button>
            </form>
        </div>
    </div>
</div>

