@model ResetPassword_VM
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container p-5">
    <div class="card p-5">
        <h2 class="text-center">Şifre Yenileme Sayfası</h2>
        <form method="post">
            <input type="password" class="form-control" placeholder="Yeni Şifre" asp-for="Password"/>
            <input type="password" class="form-control mt-2" placeholder="Yeni Şifre Tekrar" asp-for="ConfirmPassword"/>
            <button class="btn btn-primary mt-2">Şifremi Yenile</button>
        </form>
    </div>

</div>
