@model Create_Role_VM
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="card p-5">
        <h1 class="text-center">Rol Oluştur</h1>
        <form method="post">
            <div class="form-group" style="display: flex; flex-direction: row; align-items: center;">
                <label style="width: 100px; font-size: 20px">Rol Adı:</label>
                <input type="text" asp-for="RoleName" class="form-control pl-4" required/>
            </div>
            <div class="text-center d-grid gap-2">
                <button class="btn btn-outline-primary mt-2">Oluştur</button>
            </div>
        </form>
    </div>
</div>


